@model IEnumerable<GUI.Models.PRODUCTO>

@{
    ViewBag.Title = "Índice";
}

<h2>Listado de Productos</h2>

<p>
    @Html.ActionLink("Ingresar Nuevo Producto", "Create")
</p>
<table class="table table-responsive">
    <thead class="">
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.CODIGO_PRODUCTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRECIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MATERIAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CATEGORIA1.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUBCATEGORIA1.NOMBRE)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tbody>
        <tr>
            <td>
                <img class="img-responsive" src="@item.DIRECCION_FOTO" alt="@item.NOMBRE" height="50" width="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CODIGO_PRODUCTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRECIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MATERIAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORIA1.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUBCATEGORIA1.NOMBRE)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    </tbody>
}

</table>
